@using DWShop.Web.Client.Client.Layout
@using DWShop.Web.Client.Client.Pages



<Router AppAssembly="@typeof(Program).Assembly"
        AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly}">
    <Found Context="routerData" >
        <RouteView RouteData="routerData" DefaultLayout="@typeof(MainLayout)"/>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p> no hay nada aqui</p>
        </LayoutView>

    </NotFound>

</Router>
